h1 {
  font-size: 60px;
  font-family: Jura, sans-serif;
  font-weight: 500;
  color: var(--Colors__Moonlightwhite);
  line-height: 71px;
  /* reduce space to following headings */
  margin-bottom: 8px;
}
h2 {
  font-size: 28px;
  font-family: JetBrains Mono, sans-serif;
  font-weight: 700;
  color: var(--Colors__Mrkebrun);
}
h3 {
  font-size: 32px;
  font-family: Jura, sans-serif;
  font-weight: 300;
  color: var(--Colors__Moonlightwhite);
  line-height: 37.9px;
  /* sit closer to preceding h1 */
  margin-top: 0;
}
h4 {
  font-size: 24px;
  font-family: Jura, sans-serif;
  font-weight: 700;
}
h5 {
  font-size: 14px;
  font-family: Jura, sans-serif;
  font-weight: undefined;
}
p {
  font-size: 20px;
  font-family: Jura, sans-serif;
  font-weight: 400;
  line-height: 32px;
}

:root {
  --Colors__Mrkebrun: #282119;
  --Colors__Mrkeorange: rgba(165, 77, 39, 0.5);
  --Colors__Orange: #c97338;
  --Colors__Varmbrun: #65371f;
  --Colors__Beige: #e6d8bd;
  --Colors__Hamonikafarve: rgba(240, 240, 240, 0.6);
  --Colors__Moonlightwhite: #fafafa;
  --Colors__Violet: #c3bfd5;
  --Colors__Green: #b2ac88;
  --Colors__Dustyrose: #dda1a2;
  --Colors__Moonlight: #ebdec6;
  --Colors__BG: #ffffff;
  --Colors__Chocolate_brown: #282119;
  --Colors__Karrusel_BG: #fafafa;
  --Toggle_day: #c97338;
  --togglenight: #282119;
  --Hero_text: #fafafa;
  --Mrk_Orange_80: rgba(165, 77, 39, 0.8);
  --app_CTA: #d7d7d7;
  --CTA_tekst: rgba(40, 33, 25, 0.8);
  --CTA_BG: rgba(40, 33, 25, 0.3);
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jura:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Jura, sans-serif;
  background-color: var(--Colors__BG);
}

#banner {
  background-color: var(--Colors__Mrkebrun);
  text-align: start;
  padding: 16px;
  padding-left: 80px;
  a {
    color: var(--Colors__Moonlightwhite);
    font-size: 14px;
    font-family: Jura, sans-serif;
    font-weight: 400;
    text-decoration: underline;
  }
}

#hero {
  width: 100%;
  height: 828px;
  /* Fallback background color for very old browsers */
  background-color: var(--Colors__Chocolate_brown);
  /* Layered background: top and bottom gradient overlays on top of the hero image */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 35%
    ),
    /* darken top */
      linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
    /* darken bottom */ url("../images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#topNav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
}
#topNav a {
  text-decoration: none;
  color: var(--Hero_text);
}
#topNav .Menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

#hero_content {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 64px;
  padding-top: 120px;
}

#hero_text {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#hero_text_button {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#hero_button {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 78px;
  border: 2.5px solid var(--Colors-Mrke-brun, #282119);
  background: var(--CTA_BG);
  box-shadow: 0 1px 26.7px -2px rgba(101, 55, 31, 0.1);
  color: var(--Hero_text, #fafafa);
  font-family: Jura;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#hero_button:hover {
  cursor: pointer;
  background-color: var(--Colors__Mrkeorange);
}

#trustpilot {
  width: fit-content;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 4px;
  }
}
